.button{
-fx-font-weight: bold;
-fx-background-color: D9C999;
-fx-font-size: 24;
-fx-background-radius: 26;
-fx-text-fill: white;

}
.button:hover{
-fx-font-weight: bold;
-fx-background-color:  white;
-fx-background-radius: 26;
-fx-text-fill: D9C999;
-fx-border-color: D9C999;
-fx-border-radius: 24;
-fx-border-width: 3;
-fx-font-size: 24

}
.button:pressed{
-fx-font-weight: bold;
-fx-background-color: white;
-fx-background-radius: 26;
-fx-text-fill: D9C999;
-fx-border-color: D9C999;
-fx-border-width: 3;
-fx-border-radius: 24;
-fx-rotate: 5;
-fx-font-size: 24

}